*,
*::before,
*::after {
  box-sizing: border-box;
}

.uppercase {
  text-transform: uppercase;
}

.letter-spacing-2px {
  letter-spacing: 2px;
}

@media screen and (max-width: 600px) {
  html {
    overflow-x: hidden;
  }
}

img {
  max-width: 100%;
}

body {
  margin: 0%;
  padding: 0%;
  height: 100vh;
  font-family: "Space Grotesk", sans-serif;
  background: url(images/bg-main-desktop.png) no-repeat;
}
@media screen and (max-width: 600px) {
  body {
    background: url(images/bg-main-mobile.png) no-repeat;
    background-size: 100vw 38%;
  }
}

.hero-container {
  width: 75%;
  margin: 5% auto;
  transform: translateX(-7px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 600px) {
  .hero-container {
    margin: 11vh 50%;
    transform: translateX(-50%);
    width: 87.5%;
    flex-direction: column;
  }
}

.credit-cards {
  width: 54%;
  display: flex;
  justify-content: flex-start;
  align-items: none;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .credit-cards {
    width: 100%;
    flex-direction: column-reverse;
  }
}

.credit-card-front {
  width: 85%;
  border-radius: 10px;
  margin-bottom: 2rem;
  position: relative;
}
.credit-card-front input {
  padding: 0;
  border: none;
  color: hsl(0, 0%, 100%);
  background-color: transparent;
  letter-spacing: 3px;
}
.credit-card-front input::-moz-placeholder {
  color: hsl(0, 0%, 100%);
}
.credit-card-front input::placeholder {
  color: hsl(0, 0%, 100%);
}
@media screen and (max-width: 600px) {
  .credit-card-front {
    margin-bottom: -2.3em;
    z-index: 1;
    top: -4.3em;
  }
}
.credit-card-front::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 82.5%;
  width: 20%;
  height: 90%;
  background-color: hsl(270, 3%, 87%);
  z-index: -1;
  filter: blur(20px);
}
@media screen and (max-width: 600px) {
  .credit-card-front::before {
    top: 85%;
    left: 0%;
    width: 100%;
    height: 20%;
    background-color: hsl(270, 3%, 87%);
  }
}

.credit-card-front-container {
  height: 75%;
  width: 87.5%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.credit-card-front-container > input {
  position: absolute;
  left: 0%;
  top: 77.5%;
  transform: translateY(-100%);
  font-size: 1.5rem;
}
@media screen and (max-width: 1084px) {
  .credit-card-front-container > input {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 600px) {
  .credit-card-front-container > input {
    font-size: 15px;
  }
}
.credit-card-front-container img {
  width: 25%;
}

.card-details {
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
@media screen and (max-width: 1084px) {
  .card-details input {
    font-size: 15px;
  }
}
@media screen and (max-width: 600px) {
  .card-details input {
    font-size: 13px;
  }
}
.card-details div {
  width: 30%;
  text-align: right;
}
.card-details div input {
  width: 35%;
}
.card-details div input:first-of-type {
  text-align: right;
}

.credit-card-back {
  width: 85%;
  border-radius: 10px;
  margin-left: auto;
  position: relative;
}
.credit-card-back input {
  padding: 0;
  border: none;
  color: hsl(0, 0%, 100%);
  background-color: transparent;
  letter-spacing: 3px;
  width: 80%;
  height: 15%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  text-align: right;
  padding-right: 0.5em;
}
.credit-card-back input::-moz-placeholder {
  color: hsl(0, 0%, 100%);
}
.credit-card-back input::placeholder {
  color: hsl(0, 0%, 100%);
}
@media screen and (max-width: 1084px) {
  .credit-card-back input {
    font-size: 15px;
  }
}
.credit-card-back::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 65%;
  width: 35%;
  height: 90%;
  background-color: hsl(270, 3%, 87%);
  z-index: -1;
  filter: blur(20px);
}
@media screen and (max-width: 600px) {
  .credit-card-back::before {
    background-color: transparent;
  }
}

.hero-content {
  font-size: 15px;
  width: 40%;
  position: relative;
}
@media screen and (max-width: 600px) {
  .hero-content {
    width: 100%;
  }
}

input {
  border: 1px solid hsl(270, 3%, 87%);
  outline: none;
  width: 100%;
  padding: 0.5em;
  border-radius: 10px;
  font-size: 1.125rem;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}
input:focus {
  background: linear-gradient(white, white) padding-box, linear-gradient(90deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) padding-box border-box;
  border: 1px solid transparent;
}
input::-moz-placeholder {
  color: hsl(279, 6%, 55%);
}
input::placeholder {
  color: hsl(279, 6%, 55%);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  display: none;
}

#cardNumberInput {
  text-transform: uppercase;
}

#cardNumberInput::-moz-placeholder {
  text-transform: lowercase;
}

#cardNumberInput::placeholder {
  text-transform: lowercase;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
}

.expDate {
  width: 60%;
}
.expDate input {
  margin-right: 0.5rem;
  width: 40%;
}

.CVC {
  width: 40%;
}

button {
  border: none;
  outline: none;
  margin-top: 1.5rem;
  background-color: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  width: 100%;
  font-family: inherit;
  padding: 1rem;
  border-radius: 10px;
  font-size: inherit;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}

.error-msg {
  font-size: 16px;
  color: hsl(0, 100%, 66%);
  display: none;
}

.Completed-state {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  visibility: hidden;
}
.Completed-state p:nth-child(2) {
  font-size: 1.5rem;
  letter-spacing: 3px;
}
.Completed-state p:nth-child(3) {
  font-size: 1.125rem;
  color: hsl(279, 6%, 55%);
  font-weight: 500;
  line-height: 0px;
}/*# sourceMappingURL=styles.css.map */