// ## Colors
// ### Primary

$linearGradient : linear-gradient(90deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) padding-box;
// (active input border)
$Red : hsl(0, 100%, 66%);
// (input errors)

// ### Neutral

$White: hsl(0, 0%, 100%);
$Light-grayish-violet: hsl(270, 3%, 87%);
$Dark-grayish-violet: hsl(279, 6%, 55%);
$Very-dark-violet: hsl(278, 68%, 11%);
$font-weight-500 : 500;
$font-family: 'Space Grotesk', sans-serif;

*,
*::before,
*::after {
    box-sizing: border-box;
}

.uppercase {
    text-transform: uppercase;
}

img {
    max-width: 100%;
}

body {
    margin: 0%;
    padding: 0%;
    height: 100vh;
    font-size: 1.125rem;
    font-family: $font-family;
    background: url(images/bg-main-desktop.png) no-repeat;
    background-size: contain;
}

@mixin flex($jutsify-content, $align-items, $flex-dir) {
    display: flex;
    justify-content: $jutsify-content;
    align-items: $align-items;
    flex-direction: $flex-dir;
}

.hero-container {
    border: 2px solid fuchsia;
    width: 75%;
    // height: 50%;
    margin: 10% auto;
    @include flex(space-between, center, row);
}

.credit-cards {
    border: 2px solid firebrick;
    width: 55%;
    @include flex(flex-start, none, column);
}

.credit-card-front {
    // border: 2px solid yellow
    border-radius: 10px;
    width: 78%;
    height: 250px;
    background: url(images/bg-card-front.png) no-repeat;
    background-size: cover;
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
    input{
        padding: 0;
        // border: none;
        color: $White;
        background-color: transparent;
        &::placeholder{
            color: $White;
        }
    }
}

.credit-card-front-container {
    border: 2px solid honeydew;
    color: black;
    height: 95%;

}

.card-details {
    @include flex(space-between, center, row);
    border: 2px solid khaki;
    width: 100%;
    // >input:first-child {
    //     width: 50%;
    // }

    div {
        border: 2px solid brown;
        width: 30%;

        input {
            width: 35%;
        }
        input:first-of-type{
            // border: 2px solid red;
            margin-left: 20%;
            text-align: right;
        }
    }
}

.credit-card-back {
    border: 2px solid red;
    border-radius: 10px;
    width: 78%;
    height: 250px;
    margin-left: auto;
    background: url(images/bg-card-back.png) no-repeat;
    background-size: cover;

    p {
        position: relative;
        top: 45%;
        left: 80%;
        color: $White;
    }
}

.hero-content {
    border: 2px solid pink;
    font-size: 15px;
}

input {
    border: 1px solid $Light-grayish-violet;
    outline: none;
    width: 100%;
    padding: 0.5em;
    border-radius: 10px;
    font-size: 1.125rem;
    font-family: inherit;
    color: inherit;
    cursor: pointer;

    &:focus {
        background: linear-gradient(white, white) padding-box, $linearGradient border-box;
        border: 1px solid transparent;
    }

    &::placeholder {
        color: $Dark-grayish-violet;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    display: none;
}

#cardNumberInput {
    text-transform: uppercase;
}

#cardNumberInput::placeholder {
    text-transform: lowercase;
}

.flex {
    // border: 2px solid brown;
    @include flex(center, center, row)
}

.expDate {
    // border: 2px solid aqua;
    width: 60%;

    input {
        margin-right: 0.5rem;
        width: 40%;
    }
}

.CVC {
    // border: 2px solid red;
    width: 40%;
}

button {
    border: none;
    outline: none;
    margin-top: 1.5rem;
    background-color: $Very-dark-violet;
    color: $White;
    width: 100%;
    font-family: inherit;
    padding: 1rem;
    border-radius: 10px;
    font-size: inherit;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.error-msg {
    font-size: 16px;
    color: $Red;
    display: none;
}

.Completed-state {
    top: 45%;
    align-items: center;
    flex-direction: column;

    p:nth-child(2) {
        font-size: 1.5rem;
        letter-spacing: 3px;
    }

    p:nth-child(3) {
        color: $Dark-grayish-violet;
        font-weight: $font-weight-500;
        line-height: 0px;
    }

    visibility: hidden;
}