// ## Colors
// ### Primary

$linearGradient : linear-gradient(90deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) padding-box;
// (active input border)
$Red : hsl(0, 100%, 66%);
// (input errors)

// ### Neutral

$White: hsl(0, 0%, 100%);
$Light-grayish-violet: hsl(270, 3%, 87%);
$Dark-grayish-violet: hsl(279, 6%, 55%);
$Very-dark-violet: hsl(278, 68%, 11%);
$font-weight-500 : 500;
$font-family: 'Space Grotesk', sans-serif;

@mixin flex($jutsify-content, $align-items, $flex-dir) {
    display: flex;
    justify-content: $jutsify-content;
    align-items: $align-items;
    flex-direction: $flex-dir;
}

@mixin cardInputStyles {
    padding: 0;
    border: none;
    color: $White;
    background-color: transparent;
    letter-spacing: 3px;

    &::placeholder {
        color: $White;
    }
}

@mixin mobile {
    @media screen and (max-width:600px) {
        @content;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.uppercase {
    text-transform: uppercase;
}

.letter-spacing-2px {
    letter-spacing: 2px;
}

html {
    @include mobile() {
        overflow-x: hidden;
    }
}

img {
    max-width: 100%;
}

body {
    margin: 0%;
    padding: 0%;
    height: 100vh;
    font-family: $font-family;
    background: url(images/bg-main-desktop.png) no-repeat;

    @include mobile() {
        background: url(images/bg-main-mobile.png) no-repeat;
        background-size: 100vw 38%;
    }
}

.hero-container {
    // border: 2px solid fuchsia;
    width: 75%;
    margin: 5% auto;
    transform: translateX(-7px);
    @include flex(space-between, center, row);

    @include mobile() {
        margin: 11vh 50%;
        transform: translateX(-50%);
        width: 87.5%;
        flex-direction: column;
    }
}

.credit-cards {
    // border: 2px solid firebrick;
    width: 54%;
    @include flex(flex-start, none, column);

    @include mobile() {
        width: 100%;
        flex-direction: column-reverse;
    }
}

.credit-card-front {
    // border: 2px solid yellow;
    width: 85%;
    border-radius: 10px;
    margin-bottom: 2rem;
    position: relative;

    input {
        @include cardInputStyles();
    }

    @include mobile() {
        margin-bottom: -2.3em;
        z-index: 1;
        top: -4.3em;

    }

    &::before {
        content: "";
        position: absolute;
        top: 50px;
        left: 82.5%;
        width: 20%;
        height: 90%;
        background-color: $Light-grayish-violet;
        z-index: -1;

        filter: blur(20px);
        @include mobile() {
            top: 85%;
            left: 0%;
            width: 100%;
            height: 20%;
            background-color: $Light-grayish-violet;
        }
    }
}

.credit-card-front-container {
    // border: 2px solid black;
    height: 75%;
    width: 87.5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    >input {
        // border: 2px solid hotpink;
        position: absolute;
        left: 0%;
        top: 77.5%;
        transform: translateY(-100%);
        font-size: 1.5rem;

        @media screen and (max-width:1084px) {
            font-size: 1.2rem;
        }

        @include mobile() {
            font-size: 15px;
        }
    }

    img {
        // border: 2px solid yellow;
        width: 25%;
    }
}

.card-details {
    // border: 2px solid khaki;
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
    @include flex(space-between, center, row);
    width: 100%;

    input {
        @media screen and (max-width:1084px) {
            font-size: 15px;
        }

        @include mobile() {
            font-size: 13px;
        }
    }

    div {
        // border: 2px solid brown;
        width: 30%;
        text-align: right;

        input {
            width: 35%;
        }

        input:first-of-type {
            // border: 2px solid red;
            text-align: right;
        }
    }
}

.credit-card-back {
    // border: 2px solid red;
    width: 85%;
    border-radius: 10px;
    margin-left: auto;
    position: relative;

    input {
        @include cardInputStyles();
        width: 80%;
        height: 15%;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        text-align: right;
        padding-right: 0.5em;

        @media screen and (max-width:1084px) {
            font-size: 15px;
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 50px;
        left: 65%;
        width: 35%;
        height: 90%;
        background-color: $Light-grayish-violet;
        z-index: -1;
        filter: blur(20px);

        @include mobile() {
            background-color: transparent;
        }
    }
}

.hero-content {
    // border: 2px solid pink;
    font-size: 15px;
    width: 40%;
    position: relative;

    @include mobile() {
        width: 100%;
    }
}

input {
    border: 1px solid $Light-grayish-violet;
    outline: none;
    width: 100%;
    padding: 0.5em;
    border-radius: 10px;
    font-size: 1.125rem;
    font-family: inherit;
    color: inherit;
    cursor: pointer;

    &:focus {
        background: linear-gradient(white, white) padding-box, $linearGradient border-box;
        border: 1px solid transparent;
    }

    &::placeholder {
        color: $Dark-grayish-violet;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    display: none;
}

#cardNumberInput {
    text-transform: uppercase;
}

#cardNumberInput::placeholder {
    text-transform: lowercase;
}

.flex {
    // border: 2px solid brown;
    @include flex(center, flex-end, row)
}

.expDate {
    // border: 2px solid aqua;
    width: 60%;

    input {
        margin-right: 0.5rem;
        width: 40%;
    }
}

.CVC {
    // border: 2px solid red;
    width: 40%;
}

button {
    border: none;
    outline: none;
    margin-top: 1.5rem;
    background-color: $Very-dark-violet;
    color: $White;
    width: 100%;
    font-family: inherit;
    padding: 1rem;
    border-radius: 10px;
    font-size: inherit;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.error-msg {
    font-size: 16px;
    color: $Red;
    display: none;
}

.Completed-state {
    // border: 2px solid pink;
    position: absolute;
    top: 0;
    width: 100%;
    @include flex(center, center, column);

    p:nth-child(2) {
        font-size: 1.5rem;
        letter-spacing: 3px;
    }

    p:nth-child(3) {
        font-size: 1.125rem;
        color: $Dark-grayish-violet;
        font-weight: $font-weight-500;
        line-height: 0px;
    }

    visibility: hidden;
}